<div class="landing_view" fxLayout="row" fxFlex="75"> 
  <div fxLayout="column" fxFlex id="panel_gls" class="hrefgroup">
    <div id="panel_gls_text">
        <div flLayout="column" layout-wrap flFlex="80">

            <div>
                <h1 id="gls_title" class="panel-name" >ACRONYMS & GLOSSARY</h1>
                <h2>Glossary of CRS Explorer Terms</h2>
            </div>

            <div fxLayout="row">
                <a class="gls_anchors" href="{{'/glossary#gls_' + x}}" *ngFor="let x of anchors">
                    <h2><b>{{x}}</b></h2>
                </a>
            </div>

            <div class="definitions">
                <div id="gls_A" flex="66">
                    <h1>-A-</h1>

                    <h2>AIDS Clinical Trials Group (ACTG)</h2>
                    <p>The NIAID HIV/AIDS Network focused on therapeutics research
                      for HIV/AIDS and HIV-associated infections in adults.</p>

                    <h2>Accreditation</h2>
                    <p>The organization providing the accreditation for the selected laboratory
                      if applicable.</p>

                    <h2>ACTG Protocol Specific (PS)</h2>
                    <p>Sites that are restricted to conducting specified protocols for the ACTG network.
                      New protocol work is based upon evaluation and approval by DAIDS and the network.</p>

                    <h2>Active Site</h2>
                    <p>Site that has been evaluated and approved
                      by DAIDS to participate in one or more NIAID HIV/AIDS Network trials.</p>

                    <h2>Associate Pharmacist (AP)</h2>
                    <p>A licensed/registered pharmacist who performs the day-to-day pharmacy activities
                      and study product management including but not limited to the procurement,
                      storage, preparation, dispensing and final disposition of study products for the DAIDS
                      funded and/or sponsored clinical trial(s), when the Pharmacist of Record is absent.</p>
                </div>
                <br><br>

                <div id="gls_B" flex="66">
                    <h1>-B-</h1>
                </div>
                <br><br>

                <div id="gls_C" flex="66">
                    <h1>-C-</h1>

                    <h2>CAP</h2>
                    <p>College of American Pathologists.</p>

                    <h2>CD4</h2>
                    <p>Refers to tests that measure the number of CD4 cells
                      (the "helper" T-cell population infected and killed by HIV) in a blood sample and
                      is a laboratory marker of the strength of a person's immune system. Tests examine
                      the percentage and absolute count of CD4 and CD8 cells in peripheral blood specimens.</p>

                    <h2>Chemistry</h2>
                    <p>The area of clinical pathology that is generally concerned with the chemical analysis
                      of bodily fluids for diagnostic and therapeutic purposes.</p>

                    <h2>CLIA</h2>
                    <p>Clinical Laboratory Improvement Amendments.</p>

                    <h2>Clinical Research Site (CRS)</h2>
                    <p>A medical facility (e.g., hospital, outpatient clinic, community health center,
                      private practice, local health department clinic) that participates in DAIDS networks
                      clinical trials where participant recruitment and retention, protocol management, and other
                      clinical care and research activities are conducted.</p>

                    <h2>CNAS</h2>
                    <p>China National Accreditation Services.</p>

                    <h2>Clinical Trials Insurance (CTI)</h2>
                    <p>Insurance for injury or damage to study participants that may be required by
                      national guidelines of countries participating in clinical trials.</p>

                    <h2>Clinical Trials Unit (CTU)</h2>
                    <p>Unit that receives grant funding from NIAID and has ultimate administrative, financial,
                      and scientific responsibility for the conduct of DAIDS networks trials at its CRSs.</p>

                    <h2 id="gls_contactPI">Contact PI</h2>
                    <p>Person through which all grant communications should flow, whose role is to provide
                      leadership to the CTU as well as ensure efficient communication to the rest of the multi-PI
                      team.</p>

                    <h2>CPQA PT Program for Clinical Pharmacology Testing</h2>
                    <p>NIAID Clinical Pharmacology Quality Assurance Program – provides external quality
                      assurance for laboratories performing pharmacology testing.</p>

                    <h2>CRS Leader</h2>
                    <p>Main point-of-contact for the management of DAIDS network clinical research trials at the
                      site.</p>

                    <h2>CTU Name</h2>
                    <p>The name on the CTU grant application.</p>

                  <h2>Cytology</h2>
                  <p>The branch of life science that deals with the study of cells in terms of
                    structure, function and chemistry.</p>

                </div>
                <br><br>

                <div id="gls_D" flex="66">
                    <h1>-D-</h1>

                    <h2>Division of AIDS (DAIDS)</h2>
                    <p>DAIDS is within NIAID and is the sponsor for the NIAID HIV/AIDS CTUs and CRSs, as well as
                      the NIAID HIV/AIDS research networks.</p>
                </div>
                <br><br>

                <div id="gls_E" flex="66">
                    <h1>-E-</h1>
                    <h2>EQAPOL PT Programs for Immunological Assays</h2>
                    <p>External Quality Assurance Program Oversight Laboratory – provides quality assurance
                      for more advanced immunological testing including ELISPOT, Immunohistochemistry and others.</p>
                </div>
                <br><br>

                <div id="gls_F" flex="66">
                    <h1>-F-</h1>
                    <h2>Full Network Affiliation</h2>
                    <p>When a CRS is part of a CTU grant and may participate in all network-approved
                      protocols as appropriate.</p>
                </div>
                <br><br>

                <div id="gls_G" flex="66">
                    <h1>-G-</h1>
                </div>
                <br><br>

                <div id="gls_H" flex="66">
                    <h1>-H-</h1>
                    <h2>Hematology</h2>
                    <p>The branch of medicine concerned with the study of the cause, diagnosis, treatment,
                      and prevention of diseases related to blood. Laboratory testing frequently involves
                      complete blood count as well as white blood cell differential.</p>

                      <h2>Histology</h2>
                      <p>The study of the microscopic anatomy (microanatomy) of cells and tissues of plants
                        and animals. It is commonly performed by examining cells and tissues under a light
                        microscope or electron microscope, the specimen having been sectioned
                        (cut into a thin cross section with a microtome), stained, and mounted on a microscope slide.</p>

                    <h2>HIV Prevention Trials Network (HPTN)</h2>
                    <p>The NIAID HIV/AIDS network focused on integrated strategies to prevent HIV infection.</p>

                    <h2>HPTN Protocol Specific (PS)</h2>
                    <p>Sites that are restricted to conducting specified protocols for the HPTN network.
                      New protocol work is based upon evaluation and approval by DAIDS and the network.</p>

                    <h2>HIV Vaccine Trials Network (HVTN)</h2>
                    <p>The NIAID HIV/AIDS network focused on vaccines to prevent HIV infection.</p>

                    <h2>HVTN Protocol Specific (PS)</h2>
                    <p>HVTN PS sites are restricted to conducting specified protocols for the HVTN network.
                      New protocol work is based upon evaluation and approval by DAIDS and the network.</p>
                </div>
                <br><br>

                <div id="gls_I" flex="66">
                    <h1>-I-</h1>

                    <h2>Immunology</h2>
                    <p>The study of all aspects of the immune system, including its structure and function,
                      disorders of the immune system, blood banking, immunization and organ transplantation.
                      Examples of HIV-related immunologic tests include the EIA, Western Blot, detuned ELISA assay,
                      ELISPOT and ICC.</p>

                    <h2>IMPAACT Protocol Specific (PS)</h2>
                    <p>Sites that are restricted to conducting specified protocols for the IMPAACT network.
                      New protocol work is based upon evaluation and approval by DAIDS and the network.</p>

                    <h2>Institutional Biosafety Committee</h2>
                    <p>The committees responsible for the oversight of recombinant DNA research.</p>

                    <h2>Institutional Review Board (IRB)</h2>
                    <p>A committee that performs ethical review of proposed research to be conducted at an
                      Institution and is registered with the Office of Human Research Protections (OHRP).</p>

                    <h2>International Maternal Pediatric Adolescent AIDS Clinical Trials Network (IMPAACT)</h2>
                    <p>The NIAID HIV/AIDS network focused on research on infants, children, adolescents,
                      and pregnant/postpartum women with HIV or HIV-associated infections or, in some cases,
                      at high risk for HIV infection.</p>

                    <h2>IQA Cryopreservation PT Program</h2>
                    <p>NIAID Immunology Quality Assurance Program – provides external quality assurance
                      [proficiency testing] to ensure proper processing and cryopreservation of PBMCs.</p>

                    <h2>IQA U.S. CD4 PT Program</h2>
                    <p>NIAID Immunology Quality Assurance Program – provides external quality assurance
                      [proficiency testing] for CD4 testing in the US.</p>

                    <h2>IQA/UKNEQAS Non-US CD4 PT Program</h2>
                    <p>NIAID Immunology Quality Assurance Program – provides external quality assurance
                      [proficiency testing] for CD4 testing outside the US through partnership with UKNEQAS.</p>
                </div>
                <br><br>

                <div id="gls_J" flex="66">
                    <h1>-J-</h1>
                </div>
                <br><br>

                <div id="gls_K" flex="66">
                    <h1>-K-</h1>

                    <h2>KENAS</h2>
                    <p>Kenya Accreditation Service.</p>
                </div>
                <br><br>

                <div id="gls_L" flex="66">
                    <h1>-L-</h1>

                  <h2>Laboratory Audits by DAIDS Contractor</h2>
                  <p>Provides laboratory assessments of Good Clinical Laboratory Practices for
                    non-US and some US laboratories.</p>

                  <h2>Laboratory Infrastructure</h2>
                  <p>This section includes general details pertaining to the laboratory(ies) at this site.</p>

                  <h2>Laboratory Network Affiliation</h2>
                  <p>The Network for which the selected laboratory has performed protocol-specific tests.</p>

                  <h2>Laboratory Related Sites</h2>
                  <p>Laboratories that serve multiple DAIDS clinical research sites.</p>

                  <h2>Languages</h2>
                  <p>Language(s), other than English, that must be used for informed consent documents
                    at this site.</p>

                  <h2>LDMS#</h2>
                  <p>The number assigned to each DAIDS-approved laboratory to facilitate electronic
                    transfer of specimen information.</p>

                </div>
                <br><br>

                <div id="gls_M" flex="66">
                    <h1>-M-</h1>

                    <h2>Metabolic Tests</h2>
                    <p>Refers to tests that analyze chemical changes that take place in a cell or an organism
                      to produce energy and basic materials needed for important life processes. Examples of
                      metabolic tests include cholesterol, triglycerides, and lipase.</p>

                    <h2>Microbicides Trials Network (MTN)</h2>
                    <p>The NIAID HIV/AIDS network focused on microbicides to prevent HIV infection.</p>

                    <h2>Microbiology</h2>
                    <p>The study of minute living organisms, including protozoan, algae, fungi, bacteria,
                      that are usually too small to be seen with the naked eye. Examples of microbiology
                      tests include syphilis, cryptosporidiosis, MTB, and malaria.</p>

                    <h2>MTN Protocol Specific (PS)</h2>
                    <p>Sites that are restricted to conducting specified protocols for the MTN network.
                      New protocol work is based upon evaluation and approval by DAIDS and the network.</p>

                    <h2 id="gls_mPI">Multiple Investigator(s) (Multi-PIs)</h2>
                    <p>NIH grant model that a) allows applicants and their institutions to identify more than
                      one PI on a single grant application and b) encourages collaboration among equals when
                      addressing a scientific problem. If a CTU grant includes multiple investigators, a contact
                      PI is assigned and is designated as the recipient of all grant-related communications
                      (see <a href="/glossary#gls_contactPI">Contact PI</a>).</p>
                </div>
                <br><br>

                <div id="gls_N" flex="66">
                    <h1>-N-</h1>

                    <h2>NABL</h2>
                    <p>National Accreditation Board of Testing and Calibration Laboratories,
                      Quality Council of India.</p>

                    <h2>National Regulatory Authority(ies)</h2>
                    <p>This is a required level of review/approval for the site to initiate clinical
                      research protocols. It is in addition to the Local Institution-level review or
                      ethics committee.</p>

                    <h2>Network</h2>
                    <p>Designation indicates a CRS that is affiliated as a full partner with one or more NIAID
                      HIV/AIDS Network.</p>

                    <h2 id="gls_netRes">NIAID Reserve Site</h2>
                    <p>Designation indicates a CRS that is not currently affiliated as a full partner with any of the NIAID HIV/AIDS Networks. Site capacity information for NIAID Reserve Sites may be limited in some cases. Contact the OCSO PO for additional information about these sites.</p>

                    <h2>NIAID Networks</h2>
                    <p>The NIAID Clinical Trials Network Leadership Operations Center grantees have overall responsibility for developing, implementing, and adapting the network’s clinical research agenda to address NIAID’s HIV/AIDS scientific priorities, as well as overseeing and managing the network’s scientific/clinical research activities and associated laboratory and statistical/data management support functions. There are five NIAID HIV/AIDS networks:</p>
                        <ul>
                            <li>AIDS Clinical Trials Group (ACTG)</li>
                            <li>HIV Prevention Trials Network (HPTN)</li>
                            <li>HIV Vaccine Trials Network (HVTN)</li>
                            <li>International Maternal Pediatric Adolescent AIDS Clinical Trials Network (IMPAACT)</li>
                            <li>Microbicide Trials Network (MTN)</li>
                        </ul>

                        <h2>NIAID ClinRegs</h2>
                        <p>An online public database of country-specific clinical research regulatory
                          information that enables users to explore and compare regulations across different countries.
                          The website was created and is maintained by NIH’s National Institute of Allergy and
                          Infectious Diseases (NIAID).</p>

                        <h2>HVTN Cryopreservation Monitoring Program</h2>
                        <p>HVTN program to provide external quality assurance [proficiency testing]
                          to ensure proper processing and cryopreservation of PBMCs.</p>
                </div>
                <br><br>

                <div id="gls_O" flex="66">
                    <h1>-O-</h1>

                  <h2>Office of Clinical Site Oversight (OCSO)</h2>
                  <p>The DAIDS office responsible for facilitating the clinical research of the DAIDS
                    scientific programs by overseeing clinical sites associated with the NIAID-sponsored
                    HIV/AIDS clinical trials networks.</p>

                  <h2>Other IRB</h2>
                  <p>Multiple IRBs may be associated with a single institution.</p>
                </div>
                <br><br>

                <div id="gls_P" flex="66">
                    <h1>-P-</h1>

                    <h2>PALC-SBPC</h2>
                    <p>Clinical Laboratory Accreditation Program of Brazil.</p>

                    <h2>Pharmacist of Record (PoR)</h2>
                    <p>A licensed/registered pharmacist who performs the day-to-day pharmacy activities
                      and study product management including but not limited to the procurement, storage,
                      preparation, dispensing and final disposition of study products for the DAIDS funded and/or
                      sponsored clinical trial(s).</p>

                    <h2>Pharmacology</h2>
                    <p>The study of drugs, including their properties, uses, metabolism and effects in the body.
                      Tests examine drug levels in blood and other compartments at various times after dosing.</p>

                    <h2>Pharmacy</h2>
                    <p>Any facility, building, or room used by pharmacists to perform one or more of the
                      following functions: storage, preparation, dispensing, management of study products,
                      (examples: hospital pharmacy or institutional pharmacy, dispensary, drug storage unit,
                      drug store).</p>

                    <h2>Pharmacy Establishment Plan (PEP)</h2>
                    <p>The PoR must complete a Division of AIDS (DAIDS), Pharmaceutical Affairs Branch (PAB)
                      Pharmacy Establishment Plan (PEP) for each pharmacy associated with a Clinical Research Site
                      (CRS). The PEP determines if the pharmacy has the required DAIDS PAB processes and
                      procedures in place. The PEP also determines if the facilities and equipment necessary
                      for studies involving controlled room temperature, refrigerated Storage, -20° C freezer
                      Storage, -70° C freezer Storage, and the use of a biosafety cabinet/isolator are available.</p>

                    <h2>Population Characteristics</h2>
                    <p>Clinic demographics and research enrollment experience as reported by each CRS to describe
                      the potential participants accessible at the site.</p>

                    <h2>Principal Investigator (PI)</h2>
                    <p>The PI is named on the CTU grant application and is responsible for managing all aspects
                      of the CTU and associated CRSs. In some cases, the responsibilities of a PI are shared
                      among multiple PIs (see <a href="/glossary#gls_mPI">Multi-PI</a>);
                      however, a single individual within the multi-PI group will be assigned as the single
                      point-of-contact (see <a href="/glossary#gls_contactPI">Contact PI</a>).</p>

                    <h2>Program Officer</h2>
                    <p>The NIAID/DAIDS staff member who is responsible for administering the CTU grant and
                      monitoring clinical trial activities to ensure all studies are conducted according to
                      NIAID standards.  The Program Officer is the point-of-contact listed in each site profile for questions or comments.</p>

                    <h2>Protocol Specific (PS) Sites</h2>
                    <p>Sites funded on a case-by-case basis by DAIDS to conduct a specific network protocol(s).
                      Sites that have a full network affiliation may also have a PS designation for a different
                      network, or sites may be PS only.</p>
                </div>
                <br><br>

                <div id="gls_Q" flex="66">
                    <h1>-Q-</h1>

                    <h2>Quality Assurance</h2>
                    <p>Services that the selected laboratory receives in order to maintain quality
                      assurance monitored by DAIDS and/or its contractors.</p>
                </div>
                <br><br>

                <div id="gls_R" flex="66">
                    <h1>-R-</h1>
                </div>
                <br><br>

                <div id="gls_S" flex="66">
                    <h1>-S-</h1>

                    <h2>SANAS</h2>
                    <p>South African National Accreditation System.</p>

                    <h2>SAS</h2>
                    <p>Swiss Accreditation Service.</p>

                    <h2>Serology</h2>
                    <p>The scientific study of serum and other bodily fluids. In practice,
                      the term usually refers to the diagnostic identification of antibodies in the serum.
                      Generally used to diagnose infectious diseases.</p>

                    <h2>Site ID</h2>
                    <p>Unique numeric ID assigned to each DAIDS CRS.</p>

                    <h2>SMILE Oversight of Test Proficiency and GCLP</h2>
                    <p>Patient Safety Monitoring in International Laboratories – ensures laboratory
                      external quality assurance programs are in place and monitors performance for non-US labs.</p>

                      <h2>Specimen Processing</h2>
                      <p>Refers to the receipt, identification, preparation, and storage of samples,
                        such as tissue, blood, and urine, which are used for analysis and diagnosis.</p>
                </div>
                <br><br>

                <div id="gls_T" flex="66">
                    <h1>-T-</h1>

                    <h2>TB</h2>
                    <p>Refers to the capacity of the laboratory to perform testing for diagnosis of
                      Mycobacterium tuberculosis (TB), as well as other TB-related testing
                      (drug susceptibility, interferon gamma release assay, etc.).</p>
                </div>
                <br><br>

                <div id="gls_U" flex="66">
                    <h1>-U-</h1>
                </div>
                <br><br>

                <div id="gls_V" flex="66">
                    <h1>-V-</h1>

                  <h2>Viable PBMC Processing</h2>
                  <p>Refers to the ability of laboratories to isolate, freeze and store PBMCs that will
                    remain viable and can be thawed and tested in functional assays at a later time point.</p>

                  <h2>Virology</h2>
                  <p>The study of viruses. Examples of HIV virology tests include HIV RNA PCR, HIV DNA PCR, HIV
                    drug resistance (phenotypic and genotypic), HIV p24 antigen, viral identification and
                    quantification in genital secretions. Non-HIV virology tests include HPV, CMV, HepB, HepC.</p>

                  <h2>VQA PT Programs for Virologic Assays</h2>
                  <p>NIAID Virology Quality Assurance Program - provides external quality assurance
                    [proficiency testing] for HIV related virologic assays.</p>

                </div>
                <br><br>

                <div id="gls_W" flex="66">
                    <h1>-W-</h1>
                </div>
                <br><br>

                <div id="gls_X" flex="66">
                    <h1>-X-</h1>
                </div>
                <br><br>

                <div id="gls_Y" flex="66">
                    <h1>-Y-</h1>
                </div>
                <br><br>

                <div id="gls_Z" flex="66">
                    <h1>-Z-</h1>
                </div>
                <br><br>
            </div>
        </div>
        <a id="toTop" class="md-raised" href='/glossary#gls_title'>
            <b>BACK TO TOP</b>
        </a>
    </div>
  </div>
</div>
